<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>百宝箱</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<!-- 取自构建设置，CI 可以用 CURRENT_PROJECT_VERSION=<run 号> 覆盖 -->
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>

	<key>UILaunchScreen</key>
	<dict/>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>

	<!-- 文件共享：Documents 目录在电脑的访达和手机的「文件」里都能直接打开，
	     照片视频可以从电脑拖进 Documents/导入/，App 回到前台自动收走。
	     两个键要一起加：前者管访达，后者管「文件」App。 -->
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>

	<!-- 从系统相册导入照片和视频 -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册，才能把你选中的照片和视频导入到这个 App 的目录中。</string>

	<!-- WiFi 上传：在局域网内开一个 HTTP 服务 -->
	<key>NSLocalNetworkUsageDescription</key>
	<string>开启 WiFi 上传后，需要在局域网内提供网页服务，让同一 WiFi 下的设备可以上传图片。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
</dict>
</plist>
